body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: url('trucks.jpeg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    color: #333;
}

header {
    width: 100%;
    background-color: #40e0d0;
    color: white;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header .logo {
    max-width: 150px;
}

header h1 {
    margin: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #40e0d0;
}

main {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

main section {
    margin: 20px 0;
}

h2 {
    color: #333;
}

p, ul {
    color: #555;
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    width: 100%;
    background-color: #444;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}



footer p {
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    header, footer {
        padding: 10px 0;
    }

    nav a {
        margin: 5px 0;
    }

    main {
        width: 90%;
    }
}

